.control-button {
    -fx-background-radius: 5;
    -fx-min-width: 50;
    -fx-min-height: 50;
    -fx-background-color: rgb(201, 216, 182);
}

.color-palette {
    rgb(241, 236, 195)
    rgb(201, 216, 182)
    rgb(87, 131, 123)
    rgb(81, 94, 99)
}
